:root {
    --Gray-Colors-800:#F7F8FA;
    --Colors-menu-item: #E6EBF2;
    --Brand-Colors-pink: #F67ACB;
    --Gray-Colors-100: #050110;
    --Gray-Colors-200: #1C1D1F;
    --Gray-Colors-300: #393C40;
    --Gray-Colors-400: #5C6066;
    --white-trasparente-text:  rgba(255, 255, 255, 0.7);
    --white:#FFFFFF;

    
}

